.headerIcon{
  color: #4282c4 !important;
}
.mt-5{
  margin-top: 50px !important;
}
.mt-3{
  margin-top: 30px !important;
}
.border{
  border: 1px solid rgb(219, 216, 216) !important;
  border-radius: 5px !important;
}
.p5{
  padding:5em !important; 
}
.p3{
  padding:3em !important; 
}
.p1{
  padding:1em !important; 
}
.m5{
  margin:5em !important; 
}
.m3{
  margin:3em !important; 
}
.m1{
  margin:1em !important; 
}
.m3px{
  margin:3px !important; 
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(224, 224, 224);
}

.flex-container > button {
  background-color: white;
  width: 35px;
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 15px;
  cursor: pointer;
}
.selectedSeat{
  background-color: rgb(199, 14, 14) !important;
  color:white !important;
}

.bookedSeat{
  background-color: rgb(122, 117, 117) !important;
  color:white !important;
  cursor: not-allowed !important;
}
.center{
  text-align: center !important;
}
.w-100{
  width: inherit !important;
}

.message {
  text-align: center;
  padding: 40px 0;
  background: #EBF0F5;
}
.message > h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
  .message >  p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
  }
  .message > i {
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
}
.message >.card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #C8D0D8;
  display: inline-block;
  margin: 0 auto;
}
.message > .checkmark{
  border-radius:200px;
  height:200px; 
  width:200px; 
  background: #F8FAF5; 
  margin:0 auto
}